<h1>This is the page</h1>

<%= link_to "project", articles_path %> | <%= link_to 'about', welcome_about_path =%>

<div class="center jumbotron">
    <h1>BLOG</h1>
    <%= link_to "Sign up now", "#", class: "btn btn-danger btn-lg btn-xlarge" %>
</div>
